<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
    <th:block th:include="layout/common/head :: common-head"></th:block>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">STP</title>
  </head>

  <body>
    <div layout:fragment="stylesheet"></div>

    <div class="container-fluid stp-h-100">
      <div class="row align-items-center stp-h-80">
          <div layout:fragment="content"></div>
      </div>
    </div>
    <script th:src="@{/js/common.js}"></script>
    <div layout:fragment="script"></div>
  </body>
</html>
