<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:include="layout/common/head :: common-head"></th:block>
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Nissho Electronics Viewnam</title>
  <th:block layout:fragment="stylesheet"></th:block>
</head>
<body>
<div th:replace="layout/common/header :: common-header"></div>

<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="stp-main-content">
      <div layout:fragment="content"></div>
    </div>
  </div>
</div>
<div id="stp-loader"></div>
<!--<script th:src="@{/js/common.js}"></script>-->
<div layout:fragment="script"></div>
</body>
</html>
