<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <th:block th:include="layout/common/head :: common-head"></th:block>
  <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Nissho Electronics Vietnam</title>
  <th:block layout:fragment="stylesheet"></th:block>
</head>
<body>
<div th:replace="layout/common/header :: common-header"></div>

<div class="container">
  <div layout:fragment="content"></div>
</div>
<div id="ne-loader"></div>
<a class="github-fork-ribbon" href="https://github.com/nev-khoibv/pcc2019tool" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
<script th:src="@{/js/common.js}"></script>
<div layout:fragment="script"></div>
</body>
</html>
