<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/normal}">

<th:block layout:fragment="stylesheet">
  <link th:href="@{/css/datatables/datatables.min.css}" rel="stylesheet">
</th:block>
<th:block layout:fragment="content">
  <div class="title-list"><span th:text="#{user.listScreen}"/></div>
  <div class="table-responsive">
    <table id="user-list" class="table stp-table table-bordered table-hover" style="width:100%">
      <thead>
      <tr>
        <th th:text="#{user.columns.userName}" scope="col">User name</th>
        <th th:text="#{user.columns.fullName}" scope="col">FullName</th>
        <th th:text="#{user.columns.email}" scope="col">Email</th>
        <th th:text="#{user.columns.photoUrl}" scope="col">Avatar</th>
        <th th:text="#{user.columns.status}" scope="col">Status</th>
        <th th:text="#{user.columns.department}" scope="col">Department</th>
        <th th:text="#{user.columns.role}" scope="col">Role</th>
        <th/>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.userName}">khoibv</td>
        <td th:text="${user.fullName}">Bui Van Khoi</td>
        <td th:text="${user.email}">buivankhoi@gmail.com</td>
        <td class="text-center"><img th:src="@{${user.photoUrl}}"
                 class="img-thumbnail rounded-circle"
                 th:alt="${user.photoUrl}"
                 th:if="${user.photoUrl != null}">
        </td>
        <td th:text="#{${'common.enums.UserStatus.' + user.userStatus}}"
            th:classappend="${user.userStatus == T(vn.stp.common.enums.UserStatus).ACTIVE} ? 'text-success' : 'text-danger'">
          Active
        </td>
        <td th:text="${user.departmentName}">Editors</td>
        <td th:text="${user.userRole}">Leader,Editor</td>
        <td>
          <th:block th:if="${user.userName != 'admin' && user.id != session.CURRENT_USER?.id}">
            <a class="btn btn-primary btn-sm" th:href="@{/user/update(id=${user.id})}">
              <i class="fas fa-edit"></i></a>
            <a class="btn btn-primary btn-sm delete-button" href="#"
               th:attr="data-id=${user.id}"><i class="fas fa-window-close"></i></a>
          </th:block>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right margin-top-button">
    <a class="btn btn-primary" th:href="@{/user/create}" th:text="#{common.create}">add</a>
  </div>

</th:block>
<th:block layout:fragment="script">
  <script th:src="@{/js/datatables/datatables.min.js}"></script>
  <script type="text/javascript" th:inline="javascript">

    $.extend(true, STP, {
      urls: {
        delete: /*[[@{/user/delete}]]*/ null,
      },
      messages: {
        confirmDelete: /*[[#{C0001}]]*/ 'Are you sure?',
      }
    });

  </script>
  <script th:src="@{/js/user.js}"></script>
</th:block>

</html>
