<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/normal}">
<head>
  <title>Home</title>
</head>
<th:block layout:fragment="content">

  <div class="form-group">
    <input type="text" id="serviceId" placeholder="Service ID, e.g ACJ_D011_005_01" value="ACJ_D999_999_99">
    <input type="text" id="author" placeholder="author, e.g khoibv" value="khoibv">
  </div>

  <div class="form-group row required">
    <div class="text-right">
      <button type="submit" class="btn btn-primary btn-conversion" th:text="#{common.convert}">
        Save
      </button>
    </div>

    <div class="col-sm-6">
      <div class="input-group">
        <input type="text"
               id="outParam"
               class="inputColumns"
               th:placeholder="#{conversion.outParam}"
               data-target="outParamList"/>
        <div class="input-group-append">
          <button type="button" class="btn btn-info">Add</button>
        </div>
      </div>
      <ul id="outParamList"></ul>
    </div>

    <div class="col-sm-6">
      <div class="input-group">
        <input type="text"
               id="inParam"
               class="inputColumns"
               th:placeholder="#{conversion.inParam}"
               data-target="inParamList"/>
        <div class="input-group-append">
          <button type="button" class="btn btn-info">Add</button>
        </div>
      </div>
      <ul id="inParamList"></ul>
    </div>
  </div>
</th:block>

<th:block layout:fragment="script">
  <script type="text/javascript" th:inline="javascript">

    $.extend(true, NE, {
      urls: {
        convert: /*[[@{/convert}]]*/ null,
      },
      messages: {
        confirmDelete: /*[[#{C0001}]]*/ 'Are you sure?',
      }
    });


  </script>
  <script th:src="@{/js/conversion.js}"></script>
</th:block>
</html>
